/* Creando los estilos para la barra de navegación*/
.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 15px;
    box-sizing: border-box;
    overflow: ;
}

.ul__nav-bar{
    display: flex;
}

.nombre-nav-bar__items{
    white-space: nowrap;
}

.ul__nav-bar__items {
    display: inline-block;
    margin: 0 10px;
}
